.Forecast ul {
  list-style: none;
  padding-left: 0;
}

.Forecast {
  background: rgba(0, 0, 0, 0.2);
  font-size: 20px;
  margin: 20px 0;
  padding: 20px 10px 20px 10px;
  border: 1px solid #eee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}
