body {
  font-family: "Dangrek", cursive;
  background-image: url("../media/weather.webp");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100%;
  overflow-y: scroll;
}
