.WeatherWrap {
  margin: 0 auto;
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 4px;
  background: rgba(24, 24, 27, 0.2);
}

.WeatherWrap h3 {
  font-size: 22px;
}

.WeatherWrap .currentData {
  margin: 10px;
}

.WeatherWrap .currentData .time {
  float: right;
  margin-right: 20px;
  font-size: 40px;
}

.WeatherWrap canvas {
  margin: 10px auto;
}

.WeatherWrap .currentData .temperature {
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
  position: relative;
}

.WeatherWrap .currentData .unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}

.WeatherWrap .currentData ul {
  list-style: none;
}

.WeatherWrap .currentData ul li {
  display: inline;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.WeatherWrap .search {
  width: 60%;
  border-radius: 10px;
  margin-right: 15px;
  line-height: 2;
}
